overrides:
  ceph:
    conf:
      global:
        ms inject delay max: 1
        ms inject delay probability: 0.005
        ms inject delay type: osd
        ms inject internal delays: 0.002
        ms inject socket failures: 2500
  ceph_ansible:
    vars:
     ceph_test: true
     ceph_stable_release: luminous
     osd_scenario: collocated
     journal_size: 1024
     osd_auto_discovery: false
     ceph_origin: repository
     ceph_repository: dev
     ceph_mgr_modules:
          - status
          - restful
     cephfs_pools:
        - name: "cephfs_data"
          pgs: "64"
        - name: "cephfs_metadata"
          pgs: "64"
     ceph_conf_overrides:
      global:
        ms inject delay max: 1
        ms inject delay probability: 0.005
        ms inject delay type: osd
        ms inject internal delays: 0.002
        ms inject socket failures: 2500

tasks:
- install: null
- ssh-keys:
- ceph-ansible:
- thrashosds:
    chance_pgnum_grow: 2
    chance_pgpnum_fix: 1
    timeout: 1200
- full_sequential:
  - radosbench:
      clients: [client.0]
      time: 150
  - radosbench:
      clients: [client.0]
      time: 150
  - radosbench:
      clients: [client.0]
      time: 150
  - radosbench:
      clients: [client.0]
      time: 150
  - radosbench:
      clients: [client.0]
      time: 150
